body {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-align: left; 
        margin: 0%;
}
/* top-line-section */
.container {
        background-color: rgba(255, 255, 255, 1);
    }

.section {
        padding-top: 94px;
        padding-bottom: 94px;
}
.page-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            box-sizing: content-box;
            flex-direction: row;
            height: 50px;
        }
.logo{
        font-family: Raleway;
            font-size: 26px;
            font-weight: 700;
            line-height: 31px;
            letter-spacing: 0.03em;
            width: 100%;
            height: 31px;
            margin-top: 24px;
            display: flex;
            flex-direction: row;
            align-self: flex-start;
}
span:first-child {
    color: rgba(33, 150, 243, 1);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-transform: none;
}
span:last-child {
    color: rgb(0, 0, 0);
    margin-left: -3px;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-transform: none;
}

.nav-link  {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.02em;
        padding: 14px 16px;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        flex-basis: auto;

}
.link{
    display: flex;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    justify-content: space-between;
}
.studio{
    margin-left: 153px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    height: 16px ;
    margin-top: 15px ;
}

.portfolio{
    height :16px;
    margin-top: 15px;
}


.contacts{
    Height :16px;
    margin-top: 15px;
}
.email{
    height: 16px ;
    margin-top: 19px ;
}
.phone{
    height: 16px ;
    margin-top: 19px ;
}
.link, .contact-link {
    color: rgba(33, 33, 33, 1);
}
.link:hover, .link:focus , .contact-link:hover, .contact-link:focus  {
    color: rgba(33, 150, 243, 1);
}

.current {
    color: var(rgba(128, 64, 66, 0.653));
}



/* main-section-content */

h1 {
        text-align: center;
        font-family: Roboto;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: 2.64px;
        text-transform: uppercase;
        display: block;
}


.content-box {
        background: rgba(47, 48, 58, 1);
        text-align: center;
        height: 250px;
        box-sizing: content-box;
        padding: 200px 80px;

    }
.button-service {
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px;
        background-color: rgba(33, 150, 243, 1);
        color: rgba(255, 255, 255, 1);
        width: 200px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 4px;
        background: #2196F3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button-service:hover, .button-service:focus {
        background-color: #1572bf; 
        color: rgba(255, 255, 255, 1);
        cursor: pointer;
}
.button-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: center;
        gap: 10px;

}
.button-service-p{
        height: 38px ;
        margin-top:0px;
        border-radius: 4px;
        background-color: rgba(245, 244, 250, 1);
        display: flex;
        justify-content: center;
        
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
        box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
        border: none;

}

.button-service-p:hover, .button-service-p:focus {
    background-color: rgba(33, 150, 243, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.frame {
    display: flex;
    flex-direction: column;
   
    
}
.card-set {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: calc((100% - 30px) / 3);
}
.item-p{
    height: 404px ;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: rgba(255, 255, 255, 1);
    border: 1px ;
}

.description{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    text-transform: none;
}

.text-p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    margin-top: -10px;
}


/* what-we-do-section */

li {
    list-style-type: none;
}
.about-us-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding: 0px;
        justify-content: center;
}
.item{
    flex-basis: calc((100% - 70px) / 5);
    box-sizing: border-box;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: auto;
}
h3 {
    color: #212121;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
}

.item p {
        color: #757575;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
        margin: 0%;
        text-align: left;
}
.subtitle {
    color: #212121;
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.08px;
} 
.subtitle-2{
    text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.08px;
}
.text {
    color: #757575;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.48px;
}
.group-box{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: calc((100% - 10px) / 3);
    justify-content: center;
}
.content-container{
    background-color: rgba(245, 244, 250, 1);
    Height: 608px;
    display: block;
    box-sizing: border-box;
}
.group-team{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        flex-basis: calc((100% - 40px) / 4);
        justify-content: center;
    
    }
    .card-bg{
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        background-color: rgba(255, 255, 255, 1);
    }
.list-title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: none; 
}

.description {
    color: #212121;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 1.08px;
}
 
/* footer-section */

.footer {
    background-color:  rgba(47, 48, 58, 1);
    display: block;
    flex-direction: column;
    height: 200px;
    box-sizing: content-box;
    text-align: center;
    padding: 20px;
}
.logo-footer {
        font-family: Raleway;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;
}

.info {
    color: rgba(255, 255, 255, 1);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.42px;
        text-align: center;
    }

